################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/05.Business/SmartSqlMapConfig.xml
/05.Business/bin/*
/05.Business/obj/*
/01.K_DESIGN_WIN/bin/*
/01.K_DESIGN_WIN/obj/*
/02.K_CONTROL_WIN/bin/*
/02.K_CONTROL_WIN/obj/*
/03.Framework/bin/*
/03.Framework/obj/*
/05.Business/bin/*
/05.Business/obj/*
/Launcher/bin/*
/Launcher/obj/*
/ProjectSetup/Debug/*
/.vs/*