<?xml version="1.0" encoding="utf-8"?>
<providers
xmlns="http://ibatis.apache.org/providers"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<clear/>
	<provider
			name="MySql"
			description="MySQL Provider"
			enabled="true"
			default="true"
			assemblyName="MySql.Data, Version=8.0.27.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"
			connectionClass="MySql.Data.MySqlClient.MySqlConnection"
			commandClass="MySql.Data.MySqlClient.MySqlCommand"
			parameterClass="MySql.Data.MySqlClient.MySqlParameter"
			parameterDbTypeClass="MySql.Data.MySqlClient.MySqlDbType"
			parameterDbTypeProperty="MySqlDbType"
			dataAdapterClass="MySql.Data.MySqlClient.MySqlDataAdapter"
			commandBuilderClass="MySql.Data.MySqlClient.MySqlCommandBuilder"
			usePositionalParameters="false"
			useParameterPrefixInSql="true"
			useParameterPrefixInParameter="true"
			parameterPrefix="?"
			allowMARS="false"
  />

</providers>
